@keyframes slideSplash { 
	0% {
		top: 0;
	}

	100% {
		top: 100%;
	}
}

@keyframes slideLoader { 
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	25% {
		opacity: 1;
		transform: translateY(0);
	}

	75% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-10px);
	}
}
