@keyframes slideToBottom {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}

@keyframes slideLoader {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  25% {
    opacity: 1;
    transform: translateY(0);
  }

  75% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes victoryBoard {
  0% {
    filter: blur(36px) hue-rotate(0deg);
  }

  100% {
    filter: blur(36px) hue-rotate(360deg);
  }
}
