@import '_reset';
@import '_breakpoints';
@import '_animations';
@import '_fonts';

html, body {
  // keep address bar
  position: fixed;
  -webkit-overflow-scrolling: touch;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  background: rgba(0, 0, 0, .2);
}

.splash {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%);
  padding-top: 4em;
  animation-name: slideToBottom;
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 4s;

  &__logo {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-image: url(../images/mimi.jpg);
    background-size: 100%;
    background-position: center;
    border-radius: 120px;
  }

  &__title {
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;

    &--mimi {
      font-weight: 300;
      color: #4caf4d;
    }

    &--games {
      font-weight: 700;
      color: #fff;
    }
  }

  &__loader {
    margin-top: 0.2em;
    color: #fff;

    ul {
      text-align: center;
      position: relative;

      li {
        position: absolute;
        width: 100%;
        opacity: 0;
        animation-name: slideLoader;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            animation-delay: 1s * $i;
          }
        }
      }
    }
  }
}

.board {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%);
  transition: filter .6s linear;

  &__deck {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    flex: 3;
  }

  &__playerinfo {
    flex: 1;
    background: rgba(76, 175, 80, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
  }
}

.playerinfo {
  &__host {
    flex: 1;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 90%;
    background-color: transparent;
    transition: all .2s cubic-bezier(0.895, 0.03, 0.685, 0.22);

    &--smiling-face {
      background-image: url(../images/emojione/0/1f63a.svg);
    }

    &--smiling-eyes {
      background-image: url(../images/emojione/1/1f638.svg);
    }

    &--joy {
      background-image: url(../images/emojione/1/1f639.svg);
    }

    &--love {
      background-image: url(../images/emojione/0/1f63b.svg);
    }

    &--wry {
      background-image: url(../images/emojione/0/1f63c.svg);
    }

    &--kiss {
      background-image: url(../images/emojione/0/1f63d.svg);
    }

    &--weary {
      background-image: url(../images/emojione/1/1f640.svg);
    }

    &--cry {
      background-image: url(../images/emojione/0/1f63f.svg);
    }

    &--pouting {
      background-image: url(../images/emojione/0/1f63e.svg);
    }
  }

  &__message {
    flex: 2;
  }
}

.bubble {
  position: relative;
  left: 12px;
  display: inline-block;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
  padding: 16px 10px;
  text-align: center;
  max-width: 80%;

  font-size: 1.2em;

  &::after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -10px;
  }
}

.card {
  perspective: 800px;
  display: block;
  margin: 6px;

  &--flipped,
  &--found {
    .card__flipper {
      transform: rotateY(180deg);
    }
  }

  &__flipper {
    transition: 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.22);
  }

  &__flipper,
  &__flipper--front,
  &__flipper--back {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__flipper--front,
  &__flipper--back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: #fff;
  }

  &__flipper--front {
    transform: rotateY(0deg);
    background-image: url(../images/emojione/1/2753.svg);
  }

  &__flipper--back {
    transform: rotateY(180deg);
  }
}

.end {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
  }

  &__score {
    width: 70%;
    position: relative;
    background: #fff;
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
    padding: 16px;
    text-align: center;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 80px;
      background-image: url(../images/emojione/1/1f638.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: -100px;
      filter: drop-shadow(0 0 40px rgba(0, 0, 0, .6));
    }

    &::after {
      z-index: 1;
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px;
    }
  }

  &__title {
    font-size: 1.3em;
    font-weight: 700;
  }

  &__time {
    font-size: 3em;
    font-weight: 300;
  }

  &__actions {
    width: 70%;
    padding: 10px 16px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 10px 10px;

    ul {
      display: block;
      li.end__replay {
        display: inline-block;
        width: 48px;
        height: 48px;
        background-image: url(../images/emojione/1/25b6.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

.victory {
  .board {
    filter: blur(36px) hue-rotate(0deg);
    animation-name: victoryBoard;
    animation-duration: 30s;
    animation-delay: .6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  .end {
    display: block;
  }
}
