doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='theme-color', content='#81bf54')
    title Mimemory
    link(rel='manifest', href='manifest.webmanifest')
    link(rel='icon', type='image/png', href='images/manifest/mimi.png')
    link(rel='stylesheet', href='styles/main.css')
    script(defer, src='scripts/main.js')
  body
    div.splash
      div.splash__logo
      h1.splash__title
        span.splash__title--mimi Mime
        span.splash__title--games mory
      div.splash__loader
        ul
          li Preparing dry cat food...
          li Putting water...
          li Petting the cat...
    - var cards = 24;
    div.board(data-cards=cards)
      div.board__deck
        - var n = 0;
        while n < cards
          a(class='card')
            span(class='card__flipper')
              span(class='card__flipper--front')
              span(class='card__flipper--back')
          - n++;
      div.board__playerinfo
        div.playerinfo__host
        div.playerinfo__message
            p.bubble
    div.end
      div.end__container
        div.end__score
          h1.end__title Congratulations!
          p.end__time 01:23:53

        div.end__actions
          ul
            li.end__replay
